*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
/*for all big section*/
.all{
    min-width: 1380px;
    max-width: 1400px;
    margin: 0 auto;
    border:3px solid #554d13;
    border-radius: 7px;
    margin-bottom: 5px;
}

/*for header*/
header{
    height: 111px;
    background-color:#D1C15B;
    position: relative;
    top:0;
}
.headerimg{
    display: inline-block;
    
    
}
ul{
position: absolute;
right:10px;
bottom: 10px;
font-size: 25px;

}
nav,
ul li{
     display: inline-block;   
     
 }
 ul li a{
     margin-left: 10px;
     color:#554d13;
     text-decoration: none;
 }
 ul li a:hover{
color:white;
font-size: 27px;
text-shadow:10px 5px rgb(124, 106, 106);
 }
/*for main*/
main{
    background-color:#D1C15B;
    height: 500px;
    position: relative;
    
    
 }
 main div:nth-child(n){
     width: 150px;
     height: 80px;
     text-align: center;
     line-height: 80px;
     color:white;
     border:1px solid red;
     position: absolute;
 }
 main div:nth-child(1){
     background-color: #FF0000;
 }
 main div:nth-child(2){
    background-color:#008000;
    top:50px;
    left: 40px;
}
main div:nth-child(3){
    background-color:#0000FF;
    top:100px;
    left: 80px;
}
main div:nth-child(4){
    background-color:#FF00FF;
    top:150px;
    left: 120px;
}
main div:nth-child(5){
    background-color:#DC143C;
    top:200px;
    left:160px;
}
main div:nth-child(6){
    background-color:#9932CC;
    top:250px;
    left:200px;
    z-index: 1;
}
main div:nth-child(7){
    background-color:#FD8B00;
    top:300px;
    left: 240px;
}



/*for footer*/
footer{
    height: 70px;
    background-color: #D1C15B; 
    color:#554d13;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    text-shadow: 5px 2px #645d23,   /*multiple shadow*/
                    7px 4px #bbb68a,
                    9px 6px #f5f3dc;

}