*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
/*for all big section*/
.all{
    min-width: 1380px;
    max-width: 1400px;
    margin: 0 auto;
    border:3px solid #554d13;
    border-radius: 7px;
    margin-bottom: 5px;
}

/*for header*/
header{
    height: 111px;
    background-color:#D1C15B;
    position: relative;
    top:0;
}
.headerimg{
    display: inline-block;
    
    
}
ul{
position: absolute;
right:10px;
bottom: 10px;
font-size: 25px;

}
nav,
ul li{
     display: inline-block;   
     
 }
 ul li a{
     margin-left: 10px;
     color:#554d13;
     text-decoration: none;
 }
 ul li a:hover{
color:white;
font-size: 27px;
text-shadow:10px 5px rgb(124, 106, 106);
 }
/*for main*/
main{
    background-color:#D1C15B;
    height: 500px;
    position: relative;  
 }


 div{
     width: 50px;
     height: 400px;
     border:1px solid black;
     background-color: white;
     border-radius: 5px;
     box-shadow: 2px 2px 1px gray;
     position: absolute;
 }
 div:hover{
     transform: scale(0.98);
     background-color:rgb(238, 227, 213);
     cursor: pointer;
 }
 main div:nth-child(2),
 main div:nth-child(4),
 main div:nth-child(7),
 main div:nth-child(9),
 main div:nth-child(11),
 main div:nth-child(14),
 main div:nth-child(16){
     color:white;
     background-color: black;
     border-radius: 1px;
     width: 40px;
     height: 270px;
     z-index: 1;
 }
 main div:nth-child(2):hover,
 main div:nth-child(4):hover,
 main div:nth-child(7):hover,
 main div:nth-child(9):hover,
 main div:nth-child(11):hover,
 main div:nth-child(14):hover,
 main div:nth-child(16):hover{
    background-color: rgb(57, 54, 54);
 }


 main div:nth-child(2){
     left: 30px;
 }
 main div:nth-child(3){
    left:54px;
}
main div:nth-child(4){
    left:85px;
}
main div:nth-child(5){
    left:108px;
}
main div:nth-child(6){
    left:162px;
}
main div:nth-child(7){
    left:190px;
}
main div:nth-child(8){
    left:216px;
}
main div:nth-child(9){
    left:245px;
}
main div:nth-child(10){
    left:270px;
}
main div:nth-child(11){
    left:300px;
}
main div:nth-child(12){
    left:324px;
}
main div:nth-child(13){
    left:377px;
}
main div:nth-child(14){
    left:405px;
}
main div:nth-child(15){
    left:431px;
}
main div:nth-child(16){
    left:460px;
}
main div:nth-child(17){
    left:485px;
}


/*for footer*/
footer{
    height: 70px;
    background-color: #D1C15B; 
    color:#554d13;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    text-shadow: 5px 2px #645d23,   /*multiple shadow*/
                    7px 4px #bbb68a,
                    9px 6px #f5f3dc;

}